@font-face {
    font-family: regular;
    src: url("../fonts/Satoshi-Regular.ttf");
}
@font-face {
    font-family: bold;
    src: url("../fonts/Satoshi-Bold.ttf");
}
@font-face {
    font-family: blacks;
    src: url("../fonts/Satoshi-Black.ttf");
}
body{
    background-color: black;
    margin: 40px;
}
.hidden{
    display:none;
    opacity: 0;
}
.colors{
    color: linear-gradient(to right, #fc5c7d, #6a82fb);
}
.black{
    color:blacks;
}
.white{
    color:white;
}
.grey{
    color:1D1B1B;
}
.text1{
    font-size: 20px;
}
.text2{
    font-size: 16px;
}
.text3{
    font-size: 12px;
}
.text4{
    font-size: 24px;
}
.text5{
    font-size: 32px;
}
.text6{
    font-size: 10px;
}
.bold{
    font-family: bold;
}
.regular{
    font-family: regular;
}
.black{
    font-family: blacks;
}
body{
    display: flex;
    flex-direction: row;
}
.left{
    width: 60%;
}
.right{
    width: 40%;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
}
.profile{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.profile_picture{
    height: 60px;
    weight: 60px;
    padding-right: 30px;;
}
.profile_name{
    margin-top: -5px;
}
.profile_name p:first-child{
    margin-bottom: -4px;
    font-family: bold;
    margin-top: 0px;
}
.pet_picture{
    display: flex;
    justify-content: center;
}
.profile_name p:nth-child(2){
    margin-bottom: -4px;
    font-family: regular;
}
.score{
    margin-top: 120px;
}
.score_bar{
    margin-left: 120px;
}
.score_persen{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 288px;
    
}
.task_top{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 355px;
    margin-bottom: 10px;
}
.task_main{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid white;
    padding-left: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.task_picture{
    padding-right: 20px;
}
.task_desc{
    padding-right: 50px;
}
.task_time{
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
    margin-top: -25px;
    margin-bottom: -15px;
}
#check{
    width: 60px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.08);
}
.task_bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 182px;
}
.task_more{
    display: flex;
    flex-direction: row;
    align-items: center;
}
input[type="text"]{
    background-color: white;
    width: 420px;
    height: 48px;
    box-shadow: none;
    border-radius: 10px;
}
select{
    border-radius: 10px;
    color:black;
    width: 420px;
    height: 55px;
    font-family: regular;
    font-size:24px;
    background-color: white;
    color: black;
}
select option:checked{
    color:black;
}
input[type="email"]{
    background-color: #1D1B1B;
    width: 420px;
    height: 48px;
    box-shadow: none;
    border-radius: 10px;
    color:white;
    font-family: regular;
}
input[type="password"]{
    background-color: #1D1B1B;
    width: 420px;
    height: 48px;
    box-shadow: none;
    border-radius: 10px;
    color:white;
    font-family: regular;
}
input[type="submit"]{
    width: 420px;
    height: 48px;
    border-radius: 10px;
    color:black;
    font-family: bold;
    font-size: 24px;
}


.main_login{
    display: flex;
    align-items: center;
    margin-left:450px ;
}

/* Add Task */
.overlayAdd {

    background-color: black;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  
  .overlayAdd:target {
    visibility: visible;
    opacity: 1;
  }
  
  .wrapper_add_task {
    border: 2px solid white;
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  
  form * {
    outline: none;
    border: none;
  }
  
  /* Update Task */
.overlayUpdate {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  
  .wrapper_update_task {
    border: 2px solid white;
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }